/* body {
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}

nav.navbar,
button.navbar-toggler {
  border-radius: 3rem;
}

Image = Buy me a coffee.png 
a.nav-link.disabled img {
  width: 200px;
  height: 55px;
}

.container-fluid nav.navbar {
  float: left;
  width: 80%;
} */
